<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>Dear Admin,</p>
<p>Project '<%= @project.name %>' has been created and is awaiting approval.</p>
<p>Please navigate to the project and approve it at your discretion.</p>
<p>Thank you,</p>
<p>Project Jellyfish Mailer</p>
</body>
</html>
